<!--<table>
    <thead>
        <tr>
            <th translate="sellers.Name"></th>
            <th translate="sellers.Category"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in sellers">
            <td>{{s.name}}</td>
            <td>{{s.category}}</td>
        </tr>
    </tbody>
    <tr></tr>
</table>-->

<link rel="stylesheet" href="sellers.less">

<body>

<h2>Söluaðilar</h2>

    <div class="box"> 
        <div class="name">
            <p translate="sellers.Name"></p>
            <div ng-repeat="s in sellers"> {{s.name}} </div>
        </div>

        <div class="category">
            <p translate="sellers.Category"></p>
            <div ng-repeat="s in sellers"> {{s.category}} </div>
        </div>
    </div>
</body>
