<table>
    <thead>
        <tr>
            <th translate="sellers.Name"></th>
            <th translate="sellers.Category"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in sellers">
            <td>{{s.name}}</td>
            <td>{{s.category}}</td>
        </tr>
    </tbody>
    <tr></tr>
</table>

<button type="button" value="English" ng-click="changeLanguage('en')">English</button>
<button type="button" value="Íslenska" ng-click="changeLanguage('is')">Íslenska</button>
