<!DOCTYPE html>
<html ng-app="project3App">
<head>
	<title>WEPO Assignment 3 - Online Web Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/vendor.css">
	<link rel="stylesheet" href="styles/app.css">

	<div class="buttons">
		<button type="button">Bæta við</button>

		<button type="button" value="English" ng-click="changeLanguage('en')">English</button>
		<button type="button" value="Íslenska" ng-click="changeLanguage('is')">Íslenska</button>
	</div>

</head>

	<main class="container-fluid">
		<div class="Main clearfix" ng-view id="content"></div>
	</main>

	<toaster-container></toaster-container>

	<!-- inject:vendor:js -->
	<!-- endinject -->

	<!-- inject:app:js -->
	<!-- endinject -->

	<!-- inject:templates:js -->
	<!-- endinject -->
</body>

</html>
